
/*   Style.css  */

body {
  background-image:url(background.jpg);
  background-size:cover;
}

.container {
  margin: auto;
  width: 1400px;
  background: hsla(000, 20%, 0%, 0.50);
  padding: 100px;
  margin-top: 100px;
  border-radius: 2%;
  margin-bottom: 150px;

}

nav {

  background-color: lime;
  padding: 1%;
}

main {
  color: white;
  list-style-type: square;
}

header {
  text-align: center;
}

.logo {
  width: 24%;
}

#titolo{
  color: #00FF00;
  font-family: sans-serif;
  font-size: 40px;
}

.primorettangolo {
 width: 400px;
 height: 25px;
background-color: orange;
border-radius: 6px;
}

.secondorettangolo {
 width: 630px;
 height: 25px;
background-color: #33cc33;
border-radius: 6px;
}

.terzorettangolo {
 width: 140px;
 height: 25px;
background-color: #ff6666;
border-radius: 6px;
}

#lista1 {
  list-style-type: square;
  margin: 20px;
}

#lista2 {
  list-style-type: square;
  margin: 20px;
}

#lista3 {
  list-style-type: square;
  margin: 20px;
}
